
body{
    background: #f9f9f9;
    
    color: #2c2c2c;
	
    font-family: 'Open Sans', Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.container{
	width: 980px;
	
	margin: 0 auto;
	padding: 0 45px 50px 45px;

	background: #fff;

	-webkit-box-shadow:	0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 	0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 		0px 0px 5px 0px rgba(0,0,0,0.3);


}

#header{
	height: 40px;
	padding: 40px 0;
	margin-top: 2px;
}

#top-menu{
	margin: 0;
	padding: 0;

	display: block;

	height: 40px;
	line-height: 40px;

	font-size: 14px;

	color: #fff;

	background: #5e5e5e; /* Old browsers */
	background: -moz-linear-gradient(top, #5e5e5e 0%, #444444 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #5e5e5e 0%,#444444 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #5e5e5e 0%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

#top-menu a,
#top-menu a:active,
#top-menu a:hover{
	color: #fff;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);

	text-decoration: none;
}

#top-menu > ul{
	margin: 0;
	padding: 0;

	display: block;

	height: 40px;
}

#top-menu > ul > li{
	display: inline-block;

	height: 40px;

	margin-right: 35px;

	list-style: none;

}

#top-menu > ul > li > a{
	padding: 0 25px;

	display: inline-block;

	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

#top-menu > ul > li > a:hover,
#top-menu > ul > li.active > a{
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;

	background: #4a4a4a; /* Old browsers */
	background: -moz-linear-gradient(top, #4a4a4a 0%, #2e2e2e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4a4a4a 0%, #2e2e2e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4a4a4a 0%, #2e2e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0); /* IE6-9 */

}


#main{
	padding: 40px 0;
}

#main:after{
	content: " ";
	display: table;
	clear: both;
}

#left{
	float: left;
	width: 240px;
	margin-right: 50px;
}

#content{
	float: left;
	width: 690px;
}

ul.side-menu{
	display: block;
	margin: 0 0 40px 0;
	padding: 0;

	border: 1px solid #c8c8c8;
}

ul.side-menu > li{
	list-style: none;

	border-bottom: 1px solid #c8c8c8;
}

ul.side-menu > li:last-child{
	border-bottom: 0 none;
}

ul.side-menu > li > a:hover,
ul.side-menu > li > a:active,
ul.side-menu > li > a{
	display: block;

	padding: 0 24px;

	line-height: 38px;

	color: #656565;
	text-decoration: none;
}

ul.side-menu > li.active > a,
ul.side-menu > li > a:hover{
	background: #f9f9f9;

	padding-left: 35px;

	color: #2c2c2c;
}


#content .product .photo{
	padding: 40px;

	border: 1px solid #c8c8c8;

	text-align: center;
}

#content .product .description{
	padding: 40px 24px;

	font-size: 12px;
	line-height: 1.6em;

}


#footer{
	line-height: 40px;
	height: 40px;

	background: #e1e1e1;
}

#footer:after{
	content: " ";
	display: table;
	clear: both;
}

#footer .left,
#footer .right{
	float: left;
}

#footer .left{
	width: 740px;
}

#footer .right{
	width:   200px;
	padding-right: 40px;
	text-align: right;
}

#footer ul.bottom-menu{
	display: block;

	padding: 0;
	margin: 0;
}

#footer ul.bottom-menu li{
	display: inline-block;

	padding: 0 24px;
	margin: 0 30px 0 0;
}

#footer ul.bottom-menu li a:hover,
#footer ul.bottom-menu li a:active,
#footer ul.bottom-menu li a{
	color: #2c2c2c;
	text-decoration: none;
}

#footer ul.bottom-menu li a:hover{
	text-decoration: underline;
}
